/* COMMON */
p.align_l {text-align:left}
p.align_c {text-align:center}
p.align_r {text-align:right}
.txt_bar {display:inline-block;padding:0 4px;color:#ddd}

/* RESET */
body {font-family:'Lora', 'Nanum Gothic', 'Helvetica Neue', Helvetica,  Arial, sans-serif}
a:hover {color:#fff}
.feature a .left-corner,
.feature a .right-corner,
.feature a .left-corner.bottom,
.feature a .right-corner.bottom,
.feature a .covering-image h4 {opacity:1}
.feature a .covering-image p {opacity:.7}
.box-parent .child {padding-top:0}
.grey-bg,
.grey-bg2 {padding:5%}
.grey-bg-large h2 {max-width:65%}
.larger-text {margin-top:50px}
.larger-text p {word-break:keep-all}
.larger-text blockquote p {font-family:'Lora', serif}
.contains-rectangles {margin-top:50px}
h4 {font-size:23px}
p.small {font-size:12px !important}
.parent {width:250px}

/* HEADER */
#header {background-color:rgba(0,0,0,.7)}
#header:hover {background-color:#000}
#main-nav a {font-size:13px}
#main-nav > ul .active > a,
#main-nav > ul a.active,
#main-nav li a:hover,
#options li a.current,
#options li a.selected {color:#fff}
#options li a.selected {position:relative}
#options li a.selected:after {content:'';position:absolute;left:0;bottom:15px;width:100%;height:1px;background-color:#999}
#main-nav ul#options li .sub-nav > li > a {color:#555}
#main-nav ul#options li .sub-nav > li > a:hover {color:#000}
#main-nav ul#options li .sub-nav > li > a.selected:after {width:0;height:0;background-color:transparent}
.social-list li a i {font-size:19px;color:#888}
.social-list li a:hover i {color:#fff}
.stats p {font-size:95%}
.send-btn {font-size:12px !important}


/* CONTENT */

/* logo */
h1#logo a {width:200px;height:90px;background-image:url(../images/logo_paintlyfx_wh.png);background-size:200px auto}

/* title_subtxt */
.pc_txt {display:block}
.m_txt {display:none}
.tagline p.small .m_txt {padding:0 20px}


/* figure */
/* .feature .padding-wrapper a figure {-webkit-filter:grayscale(100%);filter:gray}
.feature .padding-wrapper a:hover figure {-webkit-filter:grayscale(0%);filter:none} */

/* background-image */
a:hover .images {opacity:0.5}
.background-image {height:100%;display:block;width:100%;background:no-repeat center;-webkit-background-size:100% auto;-moz-background-size:100% auto;-o-background-size:100% auto;background-size:100% auto;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
.feature .padding-wrapper a .images {background-image:url(../images/img_tit_base.jpg)}
.feature .padding-wrapper a .background-image2 {background-image:url(../images/img_tit_bw.jpg)}
.feature .padding-wrapper a:hover .background-image1 {background-image:url(../images/img_tit_01.jpg)}
.feature .padding-wrapper a:hover .background-image2 {background-image:url(../images/img_tit_02.jpg)}
.feature .padding-wrapper a:hover .background-image3 {background-image:url(../images/img_tit_03.jpg)}
.feature .padding-wrapper a:hover .background-image4 {background-image:url(../images/img_tit_04.jpg)}
.padding-wrapper .covering-image .txt {display:block;margin-top:10px;font-size:1.6rem;line-height:20px;font-weight:200}
.image-caption {font-size:13px}
.thumb_fx_01 {background-image:url(../images/img_gallery_01.jpg)}
.thumb_fx_02 {background-image:url(../images/img_gallery_02.jpg)}
.thumb_fx_03 {background-image:url(../images/img_gallery_03.png)}
.thumb_fx_04 {background-image:url(../images/img_gallery_04.jpg)}
.thumb_fx_05 {background-image:url(../images/img_gallery_05.jpg)}
.thumb_fx_06 {background-image:url(../images/img_gallery_06.jpg)}

/* .about */
.icons.mission {width:auto;height:auto;font-size:2rem;color:#000}

/* fancybox */
.fancybox-title {font-size:22px}



@media only screen and (max-width:991px){
  .larger-text blockquote {padding:10px 20px}
}

@media only screen and (max-width:767px){
  .grey-bg-large {padding:8%}
  .grey-bg-large h2 {width:100%}
  #main-nav > ul .active > a,
  #main-nav > ul a.active,
  #main-nav li a:hover,
  #options li a.current,
  #options li a.selected {color:#000}
  .menu-open #header {background-color:#000}
  .menu-open #main-nav a {font-size:15px}
  .menu-open #main-nav ul#options li:after {position:static;border-bottom:0 none}
  
  .nav-bar {background-color:#aaa}
  #nav-button {width:22px;margin-top:8px}
  .nav-bar {width:22px;margin-bottom:4px}
  .social-list li a i {font-size:22px}
  .menu-open #nav-button span:nth-child(2) {top:-4px}
  .menu-open #main-nav ul#options li:after {left:0;margin-left:0}
}
@media only screen and (max-width:480px){
  header .container {padding-left:12px;padding-right:12px}
  .pc_txt {display:none}
  .m_txt {display:block}
}